.container {
    padding: 1.2rem;
    margin-bottom: 1.2rem;
    border: 4px solid black;
    background-color: #a2aaab;

    p {
        text-align: justify;
        text-justify: inter-word;
    }
}